.container{
    height: 37rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    margin-top:-1.2rem;
    border-radius: 1rem;
    min-height: 0;
}

.list{
    flex: 1 1 auto;
    overflow-y: auto;
    color: white;
}
